body{
	margin:0px;
}
.one {
	position: relative;
	width: 400px;
	height: 400px;
	background-color: red;
}


.two {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 200px;
	height: 200px;
	background-color: purple;
}

.tree{
	width: 100px;
	height: 100px;
	background-color: yellow;
}

.four{
	margin-top: 2%;
	position: relative;
	width: 400px;
	height: 400px;
	background-color: blue;
}
.five{
	width: 100px;
	height: 100px;
	background-color: black;
}
.six{
	position: absolute;
	top: 25%;
	left: 25%;
	width: 200px;
	height: 200px;
	background-color: green;
}
